.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.3s forwards;
}

.overlay.exit {
  animation: fadeOut 0.3s forwards;
}

.modal {
  background: white;
  border-radius: 12px;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  transform: scale(0.8);
  animation: scaleIn 0.3s forwards;
  overflow-y: auto;
}
.modal::-webkit-scrollbar {
  width: 0px; /* Elimina la barra de desplazamiento */
  background: transparent; /* Fondo transparente */
}

.modal.exit {
  animation: scaleOut 0.3s forwards;
}

.closeButton {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #ff4d4d;
  border: none;
  color: white;
  font-size: 20px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  line-height: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: background-color 0.2s ease;
}

.closeButton:hover {
  background: #e04343;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.8);
    opacity: 0;
  }
}
